/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000000; /* black background */
  color: #AAAAAA; /* white text */
  line-height: 1.6;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container for centered content */
.container {
  background-color: #260041; /* deep indigo background */
  border-radius: 8px;
  padding: 40px;
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
}

/* Headings */
h1, h2 {
  color: #FF00FF; /* magenta */
}

/* Subheadings */
h2 {
  color: #00FFFF; /* cyan */
}

/* Links */
a {
  color: #FF006E; /* cerise */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul {
  padding-left: 10px;
}

li {
  margin-bottom: 0px;
}

p {
  padding-bottom: 10px;
}

/* Custom sections */
.custom-section {
  background-color: #4B0082; /* indigo */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Whitespace */
.whitespace {
  margin-bottom: 20px;
}
